@function px( $px ){
  @return $px/$designWidth*10 + rem;
}

$designWidth : 375;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: border-box; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body {
  font-size: 16px; }

input:focus, textarea:focus {
  outline: none;
}

.topbar {
  background: #D43C33;
  padding: 0.4266666667rem 0.2666666667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

.topbar .logo {
  width: 3.7866666667rem;
  height: 0.6666666667rem; }

.topbar .downloadApp {
  line-height: 0.8rem;
  border: 1px solid #fff;
  border-radius: 4.25rem;
  display: block;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 0 0.2666666667rem; }

.siteNav {
  display: block;
  position: fixed;
  width: 100%;
  background: #fff;
  margin-top: px(64);
  top: 0;
  left: 0;
  z-index: 2; }

.siteNav ol {
  display: flex;
  text-align: center;
  outline: 1px solid #cccccc;
  font-size: 15px; }

.siteNav ol > li {
  flex: 1; }

.siteNav ol > li.active {
  color: #D33A31; }

.siteNav ol > li > span {
  line-height: 1.0666666667rem;
  display: inline-block;
  position: relative; }

.siteNav ol > li.active > span:before {
  border-bottom: 2px solid #D33A31;
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: 0; }

.tabContent {
  margin-top: px(104); }

.tabContent > ol > li {
  display: none; }

.tabContent > ol > li.active {
  display: block; }

section.playlists .idx,
section.latesMusic .idx {
  padding-top: 0.5333333333rem;
  padding-bottom: 0.3733333333rem; }

section.latesMusic .idxauto {
  padding-top: 0.64rem; }

section.playlists .idx span,
section.latesMusic .idx span {
  display: block;
  font-size: 17px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  padding-left: 9px;
  position: relative; }

section.playlists .idx span:before,
section.latesMusic .idx span:before {
  display: block;
  position: absolute;
  border-left: 2px solid #D33A31;
  content: '';
  top: 50%;
  margin-top: -7px;
  height: 16px;
  left: 0; }

.playlists > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.playlists > ul > li {
  width: calc(33.33333333% - 2px);
  font-size: 0.094rem;
  margin-bottom: 0.4266666667rem; }

.playlists > ul > li img {
  width: 100%; }

.playlists > ul > li p {
  font-size: 13px;
  padding: 0 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.latesMusic > p {
  text-align: center; }

.latesMusic > ol {
  padding-left: calc(0.26rem + 2px); }

.latesMusic > ol  li {
  border-bottom: 1px solid #E2E2E2;
  padding: 0.16rem 0;
  position: relative; }

.latesMusic > ol  li h3 {
  font-size: 17px;
  line-height: 0.6666666667rem;
  font-weight: normal; }

.latesMusic > ol  li p {
  font-size: 12px;
  line-height: 0.48rem;
  margin-left: 18px;
  position: relative;
  color: #888; }

.latesMusic > ol  li p:before {
  content: '';
  position: absolute;
  left: -18px;
  top: 60%;
  transform: translateY(-50%);
  width: 12px;
  height: 8px;
  background: url("../imgs/bgsq.png");
  background-size: 166px 97px; }

.latesMusic > ol  li svg {
  width: 0.5866666667rem;
  height: 0.5866666667rem;
  fill: #aaaaaa;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%); }

section.art {
  background: url("../imgs/bottom.png") no-repeat center 0;
  padding-top: 1.69rem;
  padding-bottom: 0.24rem; }

section.art .logo {
  text-align: center; }

section.art .logosvg {
  width: 6.1333333333rem;
  height: 1.1733333333rem; }

section.art .openApp {
  display: block;
  max-width: 8.1333333333rem;
  margin: 0.4rem auto 0.1333333333rem;
  text-align: center;
  color: #D43C33;
  border: 1px solid;
  font-size: 17px;
  line-height: 1.0666666667rem;
  border-radius: 1.0666666667rem;
  width: 8.0266666667rem; }

section.art .copyright {
  text-align: center;
  color: #888;
  font-size: 12px;
  line-height: 0.4266666667rem;
  transform: scale(0.75); }
.hot-title {
  width: 100%;
  height: px(145.88);
  background: url('../imgs/hot_music.jpg') no-repeat center;
  background-size: cover;
  padding-left: px(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hot-title .hot-icon {
  width: px(142);
  height: px(67);
  background: url('../imgs/hot-icon.png') no-repeat;
  background-size: px(166) px(97);
  background-position: -24px -30px;
}
.hot-time {
  margin-top: px(10);
  line-height: 16px;
  font-size: 12px;
  height: px(18);
  color: hsla(0,0%,100%,.8);
}
.tabContent .hotSonglist > li {
  position: relative;
  border-bottom: 1px solid #E2E2E2;
  padding: 0.16rem 0;
}
.tabContent .hotSonglist > li > span {
  position: absolute;
  font-size: 17px;
  top: 50%;
  left: 0;
  color: #999;
  transform: translateY(-50%);
}
.hotSonglist > li > a {
  display: block;
  margin-left: px(28);
}
.hotSonglist  > li h3 {
  font-size: 17px;
  line-height: 0.6666666667rem;
  font-weight: normal; }

.hotSonglist  > li p {
  font-size: 12px;
  line-height: 0.48rem;
  margin-left: 18px;
  position: relative;
  color: #888; }

.hotSonglist > li p:before {
  content: '';
  position: absolute;
  left: -18px;
  top: 60%;
  transform: translateY(-50%);
  width: 12px;
  height: 8px;
  background: url("../imgs/bgsq.png");
  background-size: 166px 97px; }

.hotSonglist > li svg {
  width: 0.5866666667rem;
  height: 0.5866666667rem;
  fill: #aaaaaa;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%); }
.searchWrap {
  margin: px(15) auto;
  width: px(355);
  height: px(30);
  border-radius: px(500);
  background: #ECEDED;
  position: relative;
}
.tabContent ol::before {
  content: '';
  display: table;
}
.searchSong {
  display: block;
  border: none;
  line-height: px(18);
  height: px(30);
  background: #ECEDED;
  font-size: 14px;
  color: #333;
  width: px(295);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.searchWrap i svg {
  width: px(13);
  height: px(13);
  position: absolute;
  margin: 0 px(8);
  fill: #CBCBCC;
}
.searchWrap i .icon-search {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.searchWrap i .icon-cancel {
  display: none;
}
.searchWrap i .icon-cancel.active {
  display: block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.output {
  display: none;
}
.output.active {
  display: block;
}
.output .showSearch {
  color: #507daf;
  margin-left: px(10);
  font-size: 15px;
  line-height: px(50);
  height: px(50);
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}
.output .showSearch:before {
  position: absolute;
  content: '';
  width:120%;
  height: 0;
  left: -20%;
  top: 0;
  border-top: 1px solid #E6E6E6;
}
.output ol li {
  margin-left: px(10);
  display: flex;
  align-items: center;
}
.output ol li i {

}
.output ol li svg {
  margin-left: px(10);
  width: px(15);
  height: px(15);
}
.output ol li span {
  display: block;
  font-size: 15px;
  margin-left: px(10);
  line-height: px(45);
  height: px(45);
  width: 100%;
  position: relative;
}
.output ol li span::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #E6E6E6;
  transform: scale(.5);
  transform-origin: top left;
}